.sidebar {
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #e6edf7;
  max-width: 252px;
  min-width: 12vw;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}

.switch {
  position: fixed;
  bottom: 3vh;
}


.inactive {
  padding: 5px 0 5px 10px;
  margin: 1vh;
}

.inactive:hover {
  color: #333;
  border-radius: 10px;
  background: rgb(207, 207, 207);
}
.active:hover {
  color: #fff;
}

.active {
  padding: 5px 0 5px 10px;
  background: #6c757d;
  color: #fff;
  border-radius: 10px;
  margin: 1vh;
}