.sidebar {
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #e6edf7;
  max-width: 252px;
  min-width: 10vw;
  padding: 1vh;
}


